.m-left-10 {
  margin-left: 10px; }

.m-left-20 {
  margin-left: 20px; }

.m-left-30 {
  margin-left: 30px; }

.m-left-40 {
  margin-left: 40px; }

.m-left-50 {
  margin-left: 50px; }

.m-top-10 {
  margin-top: 10px; }

.m-top-20 {
  margin-top: 20px; }

.m-top-30 {
  margin-top: 30px; }

.m-top-40 {
  margin-top: 40px; }

.m-top-50 {
  margin-top: 50px; }

.m-right-10 {
  margin-right: 10px; }

.m-right-20 {
  margin-right: 20px; }

.m-right-30 {
  margin-right: 30px; }

.m-right-40 {
  margin-right: 40px; }

.m-right-50 {
  margin-right: 50px; }

.m-bottom-10 {
  margin-bottom: 10px; }

.m-bottom-20 {
  margin-bottom: 20px; }

.m-bottom-30 {
  margin-bottom: 30px; }

.m-bottom-40 {
  margin-bottom: 40px; }

.m-bottom-50 {
  margin-bottom: 50px; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid {
  width: 1200px;
  background: white;
  margin: 0 0 20 0; }
  .grid:before {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both; }
  .grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both; }
  .grid .grid {
    margin-top: 20px;
    margin-bottom: 20px; }

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-left: 20px; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

.col-full {
  width: 100%; }

.col-2-3 {
  width: 66.66%; }

.col-1-3 {
  width: 33.33%; }

.col-1-2 {
  width: 50%; }

.col-3-8 {
  width: 37.5%; }

.col-1-4 {
  width: 25%; }

.col-1-8 {
  width: 1.04167%; }

.col-2-8 {
  width: 2.08333%; }

.col-3-8 {
  width: 3.125%; }

.col-4-8 {
  width: 4.16667%; }

.col-5-8 {
  width: 5.20833%; }

.col-6-8 {
  width: 6.25%; }

.col-7-8 {
  width: 7.29167%; }

.offset-1-8 {
  margin-left: 1.04167%; }

.offset-2-8 {
  margin-left: 2.08333%; }

.offset-3-8 {
  margin-left: 3.125%; }

.offset-4-8 {
  margin-left: 4.16667%; }

.offset-5-8 {
  margin-left: 5.20833%; }

.offset-6-8 {
  margin-left: 6.25%; }

.offset-7-8 {
  margin-left: 7.29167%; }

.offset-2-3 {
  margin-left: 66.66%; }

.offset-1-3 {
  margin-left: 33.33%; }

.offset-7 {
  margin-left: 87.5%; }

.offset-1-2 {
  margin-left: 50%; }

.offset-1-4 {
  margin-left: 25%; }

/* Opt-in outside padding */
.grid-pad {
  padding: 20 0 20 20; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* END GRID */
label {
  display: block; }

.oscilloscope {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-style: solid;
  border-width: 3px;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-color: #333; }
